{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static "css/question.css" %}">
</head>
<body>
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Muito obrigado por confiar nos produtos da Leantech Automação!</h3>
            <hr>
            <h4 class="card-title">Por favor selecione a pergunta e a respectiva resposta abaixo para podermos aprimorar
              nosso serviço:
            </h4>
            <br>
            <form method="post" action="" class="needs-validation" novalidate>
              {% csrf_token %}
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
              {% for form in forms %}
                  <hr>
                  {{form.as_p}}
              {% endfor %}
              <button type="submit" class="btn btn-primary mt-3">Salvar respostas</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
