<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Responda o questionario</h2>
            <!-- questions.html -->
            <form method="post" action="">
              {% csrf_token %}
              {% for form in forms %}
                  {{ form.id_da_pergunta }}
                  {{ form.as_p }}
              {% endfor %}
              <input type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
