
body {
  background: linear-gradient(to right, #e0bc77, #eca829);
  margin: 0;
  padding: 0;
}
.card-body form {
  border: 5px solid #e0d20e;
  padding: 20px;
  border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmation-box {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}